# Xcode
**/*xcworkspace/
**/*xcuserdata/
**/*xcuserstate/
**/*pbxproj
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Mac
**/.DS_Store

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/

# Secretsファイル（BLE UUIDなど）
Secrets.xcconfig

# 他に追加の秘密情報ファイル
**/Config/
